<head-tpl th:fragment="head-tpl"> 
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>基础框架</title>
    <link rel="shortcut icon" href="/assets/layouts/layout/img/favicon.ico" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Preview page of HYD Co.,Ltd Theme for statistics, charts, recent events and reports" name="description" />
    <meta content="HYD Co.,Ltd" name="author" />
    <meta content="2.0.1" name="version" />    
    
    <link href="/static/assets/global/css/components.min.css?v=2.0.1" rel="stylesheet" id="style_components" type="text/css" />
    <link href="/static/assets/global/css/plugins.min.css?v=2.0.1" rel="stylesheet" type="text/css" />

    <link href="/static/assets/global/plugins/font-awesome/css/font-awesome.min.css?v=2.0.1" rel="stylesheet" type="text/css" />
    <link href="/static/assets/global/plugins/simple-line-icons/simple-line-icons.min.css?v=2.0.1" rel="stylesheet" type="text/css" />
    <link href="/static/assets/global/plugins/bootstrap/css/bootstrap.min.css?v=2.0.1" rel="stylesheet" type="text/css" />
    <link href="/static/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css?v=2.0.1" rel="stylesheet" type="text/css" />

    <link href="/static/assets/global/plugins/datatables/datatables.min.css?v=2.0.1" rel="stylesheet" type="text/css" />
    <link href="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css?v=2.0.1" rel="stylesheet" type="text/css" />
    <link href="/static/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css?v=2.0.1" rel="stylesheet" type="text/css" />
    <link href="/static/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css?v=2.0.1" rel="stylesheet" type="text/css" />
    <link href="/static/assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css?v=2.0.1" rel="stylesheet" type="text/css" />
    <link href="/static/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css?v=2.0.1" rel="stylesheet" type="text/css" /> 
    <link href="/static/assets/global/plugins/clockface/css/clockface.css?v=2.0.1" rel="stylesheet" type="text/css" />
    <link href="/static/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css?v=2.0.1" rel="stylesheet" type="text/css" />      
    <link href="/static/assets/global/plugins/bootstrap-select/css/bootstrap-select.css?v=2.0.1" rel="stylesheet" type="text/css" />
    <link href="/static/assets/global/plugins/jquery-multi-select/css/multi-select.css?v=2.0.1" rel="stylesheet" type="text/css" />
    <link href="/static/assets/global/plugins/select2/css/select2.min.css?v=2.0.1" rel="stylesheet" type="text/css" />
    <link href="/static/assets/global/plugins/select2/css/select2-bootstrap.min.css?v=2.0.1" rel="stylesheet" type="text/css" />
     <link href="/static/assets/global/plugins/jquery-nestable/jquery.nestable.css?v=2.0.1" rel="stylesheet" type="text/css" />

    <link href="/static/assets/layouts/layout/css/profile-2.min.css?v=2.0.1" rel="stylesheet" type="text/css" />
    <link href="/static/assets/layouts/layout/css/layout.min.css?v=2.0.1" rel="stylesheet" type="text/css" />
    <link href="/static/assets/layouts/layout/css/themes/darkblue.min.css?v=2.0.1" rel="stylesheet" type="text/css" id="style_color" />

    <link href="/static/assets/layouts/layout/css/custom.min.css?v=2.0.1" rel="stylesheet" type="text/css" />
    <link href="/static/assets/layouts/layout/css/print.min.css?v=2.0.1" rel="stylesheet" type="text/css" />
    <link href="/static/assets/layouts/layout/css/printed-bill.css?v=2.0.1" rel="stylesheet" type="text/css" media="print"/>
</head>    
</head-tpl>