<script-tpl th:fragment="script-tpl"> 
<!--[if lt IE 9]>
<script src="/static/assets/global/plugins/respond.min.js"></script>
<script src="/static/assets/global/plugins/excanvas.min.js"></script> 
<script src="/static/assets/global/plugins/ie8.fix.min.js"></script> 
<![endif]-->

<script src="/static/assets/global/plugins/jquery.min.js?v=2.0.1" type="text/javascript"></script>
<script src="/static/assets/global/plugins/bootstrap/js/bootstrap.js?v=2.0.1" type="text/javascript"></script>
<script src="/static/assets/global/plugins/vue/vue.min.js?v=2.0.1" type="text/javascript"></script>
<script src="/static/assets/global/plugins/js.cookie.min.js?v=2.0.1" type="text/javascript"></script>
<script src="/static/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js?v=2.0.1" type="text/javascript"></script>
<script src="/static/assets/global/plugins/jquery.blockui.min.js?v=2.0.1" type="text/javascript"></script>
<script src="/static/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js?v=2.0.1" type="text/javascript"></script>
<script src="/static/assets/global/plugins/datatables/datatables.min.js?v=2.0.1" type="text/javascript"></script>
<script src="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js?v=2.0.1" type="text/javascript"></script>
<script src="/static/assets/global/plugins/bootbox/bootbox.min.js?v=2.0.1" type="text/javascript"></script>
<script src="/static/assets/global/plugins/moment.min.js?v=2.0.1" type="text/javascript"></script>
<script src="/static/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js?v=2.0.1" type="text/javascript"></script>
<script src="/static/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js?v=2.0.1" type="text/javascript"></script>
<script src="/static/assets/global/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js?v=2.0.1" type="text/javascript"></script>
<script src="/static/assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js?v=2.0.1" type="text/javascript"></script>
<script src="/static/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js?v=2.0.1" type="text/javascript"></script>
<script src="/static/assets/global/plugins/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js?v=2.0.1" type="text/javascript"></script>
<script src="/static/assets/global/plugins/clockface/js/clockface.js?v=2.0.1" type="text/javascript"></script>
<script src="/static/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js?v=2.0.1" type="text/javascript"></script>
<script src="/static/assets/global/plugins/jquery-repeater/jquery.repeater.js?v=2.0.1" type="text/javascript"></script>
<script src="/static/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js?v=2.0.1" type="text/javascript"></script>
<script src="/static/assets/global/plugins/jquery-multi-select/js/jquery.multi-select.js?v=2.0.1" type="text/javascript"></script>
<script src="/static/assets/global/plugins/select2/js/select2.full.min.js?v=2.0.1" type="text/javascript"></script>
<script src="/static/assets/global/plugins/jquery-bootpag/jquery.bootpag.min.js?v=2.0.1" type="text/javascript"></script>
<script src="/static/assets/global/plugins/jquery-validation/js/jquery.validate.min.js?v=2.0.1" type="text/javascript"></script>
<script src="/static/assets/global/plugins/jquery-validation/js/additional-methods.min.js?v=2.0.1" type="text/javascript"></script>
<script src="/static/assets/global/plugins/jquery-cookie/jquery.cookie.min.js?v=2.0.1" type="text/javascript"></script>
<script src="/static/assets/global/plugins/jquery.pulsate.min.js?v=2.0.1" type="text/javascript"></script>
<script src="/static/assets/global/plugins/jquery-print/jQuery.print.min.js?v=2.0.1" type="text/javascript"></script>
<script src="/static/assets/global/plugins/jquery-md5/jquery.md5.js?v=2.0.1" type="text/javascript"></script>
<script src="/static/assets/global/plugins/jquery-sha1/jquery.sha1.min.js?v=2.0.1" type="text/javascript"></script>
<script src="/static/assets/global/plugins/jquery-nestable/jquery.nestable.js?v=2.0.1" type="text/javascript"></script>
<script src="/static/assets/global/scripts/app.min.js?v=2.0.1" type="text/javascript"></script>
<script src="/static/assets/global/scripts/datatable.js?v=2.0.1" type="text/javascript"></script>

<script src="/static/assets/layouts/global/scripts/quick-sidebar.min.js?v=2.0.1" type="text/javascript"></script>
<script src="/static/assets/layouts/global/scripts/quick-nav.min.js?v=2.0.1" type="text/javascript"></script>
<script src="/static/assets/layouts/layout/scripts/layout.min.js?v=2.0.1" type="text/javascript"></script>
<script src="/static/assets/layouts/layout/scripts/demo.min.js?v=2.0.1" type="text/javascript"></script>

<script src="/static/assets/pages/scripts/form-repeater.min.js?v=2.0.1" type="text/javascript"></script>
<script src="/static/assets/pages/scripts/components-multi-select.min.js?v=2.0.1" type="text/javascript"></script>
<script src="/static/assets/pages/scripts/components-select2.min.js?v=2.0.1" type="text/javascript"></script>
<script src="/static/assets/pages/scripts/components-date-time-pickers.min.js?v=2.0.1" type="text/javascript"></script>

<script src="/static/assets/layouts/layout/scripts/custom-common.min.js?v=2.0.1" type="text/javascript"></script>
<script src="/static/assets/layouts/layout/scripts/custom-sidebar.min.js?v=2.0.1" type="text/javascript"></script>
<!-- <script src="/static/assets/layouts/layout/scripts/socket.io.js?v=2.0.1" type="text/javascript"></script>
<script src="/static/assets/layouts/layout/scripts/socket.push.js?v=2.0.1" type="text/javascript"></script> -->

<script src="/static/assets/pages/scripts/table-datatables-costom-common.js?v=2.0.1" type="text/javascript"></script>
<script src="/static/assets/pages/scripts/jquery-validate-costom-common.js?v=2.0.1" type="text/javascript"></script>  

</script-tpl> 